openapi: 3.0.1
info:
  contact:
    email: platform@ringcentral.com
    name: RingCentral Connect Platform
    url: http://developers.ringcentral.com
  description: RingCentral Connect Platform API
  license:
    name: RingCentral API License Agreement and Terms of Use
    url: https://www.ringcentral.com/legal/apilitos.html
  title: RingCentral Connect Platform API
  version: 1.0.36
servers:
- url: https://platform.ringcentral.com/
security:
- OAuth2: []
tags:
- name: API Info
- name: ADG
- name: Presence
- name: Subscriptions
- name: Application Settings
- name: Devices
- name: SCIM
- name: CFA Reporting
- name: Live Reporting
- description: ' '
  name: Verification Call
- name: Call Control
- name: RDG
paths:
  /restapi:
    get:
      description: Returns current API version(s) and server info.
      operationId: readAPIVersions
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionsResponse'
          description: Success
      summary: Get API Versions
      tags:
      - API Info
      x-api-group: restapi
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-docs-level: Public
  /restapi/{apiVersion}:
    get:
      description: Returns current API version info by apiVersion.
      operationId: readAPIVersion
      parameters:
      - description: API version to be requested, for example 'v1.0'
        in: path
        name: apiVersion
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionResponse'
          description: API Version
      summary: Get Version Info
      tags:
      - API Info
      x-api-group: restapi/version
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-docs-level: Public
  /restapi/v1.0/status:
    get:
      description: Returns current PAS service status.
      operationId: readAPIStatus
      responses:
        200:
          content: {}
          description: OK
        503:
          content: {}
          description: VoIP-only Mode
      summary: Get Service Status
      tags:
      - API Info
      x-api-group: restapi/status
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-docs-level: Public
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log:
    delete:
      description: Deletes filtered call log records.
      operationId: deleteUserCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: The end datetime for records deletion in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - in: query
        name: phoneNumber
        schema:
          type: string
      - in: query
        name: extensionNumber
        schema:
          type: string
      - explode: true
        in: query
        name: type
        schema:
          items:
            enum:
            - Voice
            - Fax
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: direction
        schema:
          items:
            enum:
            - Inbound
            - Outbound
            type: string
          type: array
        style: form
      - in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      responses:
        default:
          content: {}
          description: Success
      summary: Delete User Call Log
      tags:
      - Call Log
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditCallLog
      x-user-permission: EditCallLog
      x-docs-level: Public
      x-availability: Limited
    get:
      description: Returns call log records filtered by parameters specified.
      operationId: readUserCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Extension number of a user. If specified, returns call log for
          a particular extension only
        in: query
        name: extensionNumber
        schema:
          type: string
      - description: If 'True' then calls from/to blocked numbers are returned
        in: query
        name: showBlocked
        schema:
          default: true
          type: boolean
      - description: Phone number of a caller/callee. If specified, returns all calls
          (both incoming and outcoming) with the phone number specified
        in: query
        name: phoneNumber
        schema:
          type: string
      - description: The direction for the resulting records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          items:
            enum:
            - Inbound
            - Outbound
            type: string
          type: array
        style: form
      - description: Internal identifier of a session
        in: query
        name: sessionId
        schema:
          type: string
      - description: Call type of a record. It is allowed to specify more than one
          type. If not specified, all call types are returned. Multiple values are
          accepted
        explode: true
        in: query
        name: type
        schema:
          items:
            enum:
            - Voice
            - Fax
            type: string
          type: array
        style: form
      - description: Call transport type. 'PSTN' specifies that a call leg is initiated
          from the PSTN network provider; 'VoIP' - from an RC phone. By default this
          filter is disabled
        explode: true
        in: query
        name: transport
        schema:
          items:
            enum:
            - PSTN
            - VoIP
            type: string
          type: array
        style: form
      - description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        name: view
        schema:
          default: Simple
          enum:
          - Simple
          - Detailed
          type: string
      - description: '**Deprecated**. Supported for compatibility reasons. `True`
          if only recorded calls are returned. If both `withRecording` and `recordingType`
          are specified, then `withRecording` is ignored'
        in: query
        name: withRecording
        schema:
          default: false
          type: boolean
      - description: Type of a call recording. If not specified, then calls without
          recordings are also returned
        in: query
        name: recordingType
        schema:
          enum:
          - Automatic
          - OnDemand
          - All
          type: string
      - description: The end datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo
          minus 24 hours
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: Indicates the page number to retrieve. Only positive number values
          are allowed
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: Indicates the page size (number of items)
        in: query
        name: perPage
        schema:
          default: 100
          type: integer
      - description: If 'True' then deleted calls are returned
        in: query
        name: showDeleted
        schema:
          default: false
          type: boolean
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCallLogResponse'
          description: Success
      summary: Get User Call Log Records
      tags:
      - Call Log
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log-sync:
    get:
      description: Synchronizes call log records
      operationId: syncUserCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Type of synchronization
        explode: true
        in: query
        name: syncType
        schema:
          items:
            enum:
            - FSync
            - ISync
            type: string
          type: array
        style: form
      - description: Value of syncToken property of last sync request response
        in: query
        name: syncToken
        schema:
          type: string
      - description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is the
          current moment
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: For 'FSync' the parameter is mandatory, it limits the number
          of records to be returned in response. For 'ISync' it specifies with how
          many records to extend sync Frame to the past, the maximum number of records
          is 250
        in: query
        name: recordCount
        schema:
          type: integer
      - description: Type of calls to be returned. The default value is 'All'
        explode: true
        in: query
        name: statusGroup
        schema:
          items:
            enum:
            - Missed
            - All
            type: string
          type: array
        style: form
      - description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        name: view
        schema:
          default: Simple
          enum:
          - Simple
          - Detailed
          type: string
      - description: Supproted for ISync. If 'True' then deleted call records are
          returned
        in: query
        name: showDeleted
        schema:
          default: false
          type: boolean
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogSync'
          description: Success
      summary: Sync User Call Log
      tags:
      - Call Log
      x-api-group: extension/call-log-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}:
    get:
      description: Returns call log records by ID.
      operationId: readUserCallRecord
      parameters:
      - explode: false
        in: path
        name: callRecordId
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        name: view
        schema:
          default: Simple
          enum:
          - Simple
          - Detailed
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          type: string
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCallLogRecord'
          description: Call Log Record
      summary: Get User Call Record
      tags:
      - Call Log
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/active-calls:
    get:
      description: Returns records of all extension calls that are in progress, ordered
        by start time in descending order.
      operationId: listExtensionActiveCalls
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          items:
            enum:
            - Inbound
            - Outbound
            type: string
          type: array
        style: form
      - description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        name: view
        schema:
          default: Simple
          enum:
          - Simple
          - Detailed
          type: string
      - description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        explode: true
        in: query
        name: type
        schema:
          items:
            enum:
            - Voice
            - Fax
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values
          are allowed
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: Indicates the page size (number of items)
        in: query
        name: perPage
        schema:
          default: 100
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveCallsResponse'
          description: Success
      summary: Get User Active Calls
      tags:
      - Call Log
      x-api-group: extension/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-docs-level: Public
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/call-log:
    get:
      description: Returns call log records filtered by parameters specified.
      operationId: readCompanyCallLog
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Extension number of a user. If specified, returns call log for
          a particular extension only
        in: query
        name: extensionNumber
        schema:
          type: string
      - description: Phone number of a caller/call recipient. If specified, returns
          all calls (both incoming and outcoming) with the phone number specified.
          Cannot be specified together with the extensionNumber filter
        in: query
        name: phoneNumber
        schema:
          type: string
      - description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          items:
            enum:
            - Inbound
            - Outbound
            type: string
          type: array
        style: form
      - description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        explode: true
        in: query
        name: type
        schema:
          items:
            enum:
            - Voice
            - Fax
            type: string
          type: array
        style: form
      - description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        name: view
        schema:
          default: Simple
          enum:
          - Simple
          - Detailed
          type: string
      - description: '**Deprecated**. Supported for compatibility reasons only. `true`
          if only recorded calls are returned. The default value is `false`. If both
          `withRecording` and `recordingType` are specified, `withRecording` is ignored'
        in: query
        name: withRecording
        schema:
          type: boolean
      - description: Type of a call recording. If not specified, then calls without
          recordings are also returned
        in: query
        name: recordingType
        schema:
          enum:
          - Automatic
          - OnDemand
          - All
          type: string
      - description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo
          minus 24 hours
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: The end datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - description: Indicates the page number to retrieve. Only positive number values
          are accepted
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: Indicates the page size (number of items)
        in: query
        name: perPage
        schema:
          default: 100
          type: integer
      - description: Internal identifier of a session
        in: query
        name: sessionId
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCallLogResponse'
          description: Success
      summary: Get Company Call Log Records
      tags:
      - Call Log
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/call-log/{callRecordId}:
    get:
      description: Returns individual call log record(s) by ID(s). Batch request is
        supported.
      operationId: readCompanyCallRecord
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a call log record
        in: path
        name: callRecordId
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCallLogRecord'
          description: Success
      summary: Get Company Call Log Record(s)
      tags:
      - Call Log
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/active-calls:
    get:
      description: Returns records of all calls that are in progress, ordered by start
        time in descending order.
      operationId: listCompanyActiveCalls
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          items:
            enum:
            - Inbound
            - Outbound
            type: string
          type: array
        style: form
      - description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        name: view
        schema:
          default: Simple
          enum:
          - Simple
          - Detailed
          type: string
      - description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        explode: true
        in: query
        name: type
        schema:
          items:
            enum:
            - Voice
            - Fax
            type: string
          type: array
        style: form
      - description: Call transport type. 'PSTN' specifies that a call leg is initiated
          from the PSTN network provider; 'VoIP' - from an RC phone. By default this
          filter is disabled
        explode: true
        in: query
        name: transport
        schema:
          items:
            enum:
            - PSTN
            - VoIP
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values
          are accepted
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: Indicates the page size (number of items)
        in: query
        name: perPage
        schema:
          default: 100
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveCallsResponse'
          description: Success
      summary: Get Company Active Calls
      tags:
      - Call Log
      x-api-group: account/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-docs-level: Public
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/recording/{recordingId}:
    get:
      description: Returns call recordings by ID(s).
      operationId: readCallRecording
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a recording (returned in Call Log)
        in: path
        name: recordingId
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCallRecordingResponse'
          description: Success
      summary: Get Call Recording
      tags:
      - Call Recordings
      x-api-group: account/recording
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/recording/{recordingId}/content:
    get:
      description: Returns media content of a call recording.
      operationId: listCallRecordingData
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a recording (returned in Call Log)
        in: path
        name: recordingId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            audio/x-wav:
              schema:
                format: binary
                type: string
            audio/mpeg:
              schema:
                format: binary
                type: string
          description: Call Recording Media Data
      summary: Get Call Recordings Data
      tags:
      - Call Recordings
      x-api-group: account/recording/content
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/sms:
    post:
      description: 'Creates and sends new SMS message. Sending SMS messages simultaneously
        to different recipients is limited up to 50 requests per minute; relevant
        for all client applications. Note: Sending and receiving SMS is now available
        for Toll-Free Numbers (within the USA)'
      operationId: createSMSMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSMSMessage'
          multipart/mixed:
            schema:
              $ref: '#/components/schemas/CreateSMSMessage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateSMSMessage'
        description: JSON body
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageInfoResponse'
          description: Success
      summary: Create SMS/MMS Message
      tags:
      - SMS
      x-api-group: extension/sms
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: SMS
      x-user-permission: OutboundSMS
      x-docs-level: Public
      x-availability: High
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/company-pager:
    post:
      description: Creates and sends an internal text message.
      operationId: createInternalTextMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalTextMessageRequest'
        description: JSON body
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageInfoResponse'
          description: Created Text Message
      summary: Create Internal Text Message
      tags:
      - Pager Messages
      x-api-group: extension/company-pager
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: InternalMessages
      x-user-permission: InternalSMS
      x-docs-level: Public
      x-availability: High
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/fax:
    post:
      description: Creates and sends/resends a new fax message. Resend can be done
        if sending failed.
      operationId: createFaxMessage
      parameters:
      - description: Internal identifier of a RingCentral account (integer) or tilde
          (~) to indicate the account which was logged-in within the current session.
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: Internal identifier of an extension (integer) or tilde (~) to
          indicate the extension assigned to the account logged-in within the current
          session
        in: path
        name: extensionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                attachment:
                  description: File to upload
                  items:
                    format: binary
                    type: string
                  type: array
                faxResolution:
                  description: Resolution of Fax
                  enum:
                  - High
                  - Low
                  type: string
                to:
                  description: To Phone Number
                  items:
                    type: string
                  type: array
                sendTime:
                  description: Timestamp to send fax at. If not specified (current
                    or the past), the fax is sent immediately
                  format: date-time
                  type: string
                isoCode:
                  description: ISO Code. e.g UK
                  type: string
                coverIndex:
                  description: Cover page identifier. For the list of available cover
                    page identifiers please call the method Fax Cover Pages. If not
                    specified, the default cover page which is configured in 'Outbound
                    Fax Settings' is attached
                  type: integer
                coverPageText:
                  description: Cover page text, entered by the fax sender and printed
                    on the cover page. Maximum length is limited to 1024 symbols
                  type: string
              required:
              - attachment
              - to
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaxResponse'
          description: Fax Message
      summary: Create Fax Message
      tags:
      - Fax
      x-api-group: extension/fax
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: Faxes
      x-user-permission: OutboundFaxes
      x-docs-level: Public
      x-team: PLA Inno
  /restapi/v1.0/dictionary/fax-cover-page:
    get:
      description: Returns fax cover pages available for the current extension.
      operationId: listFaxCoverPages
      parameters:
      - description: Indicates the page number to retrieve. Only positive number values
          are accepted
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: Indicates the page size (number of items)
        in: query
        name: perPage
        schema:
          default: 100
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFaxCoverPagesResponse'
          description: List of Fax Cover Pages
      summary: Get Fax Cover Page List
      tags:
      - Fax
      x-api-group: dictionary/fax-cover-page
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-docs-level: Public
      x-availability: High
      x-team: PLA Inno
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store:
    delete:
      description: Deletes conversation(s) by conversation ID(s). Batch request is
        supported.
      operationId: deleteMessageByFilter
      parameters:
      - explode: true
        in: query
        name: conversationId
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Messages received earlier then the date specified will be deleted.
          The default value is 'Now'
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - description: Type of messages to be deleted
        in: query
        name: type
        schema:
          default: All
          enum:
          - Fax
          - SMS
          - VoiceMail
          - Pager
          - Text
          - All
          type: string
      - in: path
        name: extensionId
        required: true
        schema:
          type: string
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: No Content
      summary: Delete Conversation
      tags:
      - Message Store
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-docs-level: Public
    get:
      description: Returns the list of messages from an extension mailbox.
      operationId: listMessages
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Specifies the availability status for the resulting messages.
          Multiple values are accepted
        explode: true
        in: query
        name: availability
        schema:
          items:
            enum:
            - Alive
            - Deleted
            - Purged
            type: string
          type: array
        style: form
      - description: Specifies the conversation identifier for the resulting messages
        in: query
        name: conversationId
        schema:
          type: integer
      - description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - description: The direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          items:
            enum:
            - Inbound
            - Outbound
            type: string
          type: array
        style: form
      - description: If 'True', then the latest messages per every conversation ID
          are returned
        in: query
        name: distinctConversations
        schema:
          type: boolean
      - description: The type of the resulting messages. If not specified, all messages
          without message type filtering are returned. Multiple values are accepted
        explode: true
        in: query
        name: messageType
        schema:
          items:
            enum:
            - Fax
            - SMS
            - VoiceMail
            - Pager
            - Text
            type: string
          type: array
        style: form
      - description: The read status for the resulting messages. Multiple values are
          accepted
        explode: true
        in: query
        name: readStatus
        schema:
          items:
            enum:
            - Read
            - Unread
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values
          are accepted
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: Indicates the page size (number of items)
        in: query
        name: perPage
        schema:
          default: 100
          type: integer
      - description: The phone number. If specified, messages are returned for this
          particular phone number only
        in: query
        name: phoneNumber
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageList'
          description: Success
      summary: Get Message List
      tags:
      - Message Store
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-docs-level: Public
      x-availability: High
      x-notifications:
      - $ref: '#/definitions/InboundMessageEvent'
      - $ref: '#/definitions/InstantMessageEvent'
      - $ref: '#/definitions/MessageEvent'
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}:
    delete:
      description: Deletes message(s) by the given message ID(s). The first call of
        this method transfers the message to the 'Delete' status. The second call
        transfers the deleted message to the 'Purged' status. If it is required to
        make the message 'Purged' immediately (from the first call), then set the
        query parameter purge to 'True'.
      operationId: deleteMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a message
        in: path
        name: messageId
        required: true
        schema:
          type: integer
      - description: If the value is 'True', then the message is purged immediately
          with all the attachments
        in: query
        name: purge
        schema:
          default: false
          type: boolean
      - description: Internal identifier of a message thread
        in: query
        name: conversationId
        schema:
          type: integer
      responses:
        204:
          content: {}
          description: No Content
      summary: Delete Message
      tags:
      - Message Store
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-docs-level: Public
    get:
      description: Returns individual message record(s) by the given message ID(s).
        The length of inbound messages is unlimited. Batch request is supported.
      operationId: readMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a message
        in: path
        name: messageId
        required: true
        schema:
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageInfoResponse'
          description: OK
        207:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageMultiResponse'
          description: Multi-Status
      summary: Get Message
      tags:
      - Message Store
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-docs-level: Public
      x-availability: High
    put:
      description: Updates message(s) by ID(s). Batch request is supported, see Batch
        Requests for details. Currently, only the message read status updating is
        supported.
      operationId: updateMessage
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a message
        in: path
        name: messageId
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageRequest'
        description: JSON body
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageInfoResponse'
          description: OK
        207:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageMultiResponse'
          description: Multi-Status
      summary: Update Message(s)
      tags:
      - Message Store
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-docs-level: Public
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}:
    get:
      description: Returns a specific message attachment data as media stream.
      operationId: readMessageContent
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a message attachment
        in: path
        name: attachmentId
        required: true
        schema:
          type: integer
      - description: Internal identifier of a message
        in: path
        name: messageId
        required: true
        schema:
          type: integer
      - in: header
        name: Range
        schema:
          type: string
      - description: Content disposition of a response
        in: query
        name: contentDisposition
        schema:
          default: Inline
          enum:
          - Inline
          - Attachment
          type: string
      responses:
        200:
          content:
            text/plain:
              schema:
                format: binary
                type: string
            image/tiff:
              schema:
                format: binary
                type: string
          description: Attachment Data
      summary: Get Message Content
      tags:
      - Message Store
      x-api-group: extension/message-store/content
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessageContent
      x-docs-level: Public
      x-availability: High
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-sync:
    get:
      description: Synchronizes messages.
      operationId: syncMessages
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Conversation identifier for the resulting messages. Meaningful
          for SMS and Pager messages only.
        in: query
        name: conversationId
        schema:
          type: integer
      - description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        in: query
        name: dateFrom
        schema:
          format: date-time
          type: string
      - description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        in: query
        name: dateTo
        schema:
          format: date-time
          type: string
      - description: Direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        explode: true
        in: query
        name: direction
        schema:
          items:
            enum:
            - Inbound
            - Outbound
            type: string
          type: array
        style: form
      - description: If 'True', then the latest messages per every conversation ID
          are returned
        in: query
        name: distinctConversations
        schema:
          type: boolean
      - description: Type for the resulting messages. If not specified, all types
          of messages are returned. Multiple values are accepted
        explode: true
        in: query
        name: messageType
        schema:
          items:
            enum:
            - Fax
            - SMS
            - VoiceMail
            - Pager
            - Text
            type: string
          type: array
        style: form
      - description: Limits the number of records to be returned (works in combination
          with dateFrom and dateTo if specified)
        in: query
        name: recordCount
        schema:
          type: integer
      - description: Value of syncToken property of last sync request response
        in: query
        name: syncToken
        schema:
          type: string
      - description: Type of message synchronization
        explode: true
        in: query
        name: syncType
        schema:
          items:
            enum:
            - FSync
            - ISync
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageSyncResponse'
          description: Success
      summary: Sync Messages
      tags:
      - Message Store
      x-api-group: extension/message-sync
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-docs-level: Public
      x-availability: High
  /restapi/v1.0/account/{accountId}/message-store-configuration:
    get:
      description: Returns message store settings.
      operationId: readMessageStoreConfiguration
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageStoreConfiguration'
          description: Successful operation
      summary: Get Message Store Configuration
      tags:
      - Message Store
      x-api-group: account/message-store-configuration
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-user-permission: AccountAdministration
      x-app-permission: EditAccounts
      x-docs-level: Public
    put:
      description: Updates message store settings.
      operationId: updateMessageStoreConfiguration
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/MessageStoreConfiguration'
        description: JSON body
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageStoreConfiguration'
          description: Successful operation
      summary: Update Message Store Configuration
      tags:
      - Message Store
      x-api-group: account/message-store-configuration
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-user-permission: AccountAdministration
      x-app-permission: EditAccounts
      x-docs-level: Public
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out:
    post:
      description: Makes a 2-leg RingOut call.
      operationId: createRingOutCall
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeRingOutRequest'
        description: JSON body
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRingOutStatusResponse'
          description: Success
      summary: Make RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-docs-level: Public
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out/{ringoutId}:
    delete:
      description: Cancels a 2-leg RingOut call.
      operationId: deleteRingOutCall
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingOut call
        in: path
        name: ringoutId
        required: true
        schema:
          type: string
      responses:
        default:
          content: {}
          description: Success
      summary: Cancel RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-docs-level: Public
    get:
      description: Returns the status of a 2-leg RingOut call.
      operationId: readRingOutCallStatus
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingOut call
        in: path
        name: ringoutId
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRingOutStatusResponse'
          description: Success
      summary: Get RingOut Call Status
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout:
    post:
      deprecated: true
      description: Makes a 2-leg RingOut call.
      operationId: createRingOutCallDeprecated
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeRingOutRequest'
        description: JSON body
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRingOutStatusResponseIntId'
          description: Success
      summary: Make RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-docs-level: Public
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}:
    delete:
      deprecated: true
      description: Cancels a 2-leg RingOut call.
      operationId: deleteRingOutCallDeprecated
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingOut call
        in: path
        name: ringoutId
        required: true
        schema:
          type: integer
      responses:
        204:
          content: {}
          description: No Content
      summary: Cancel RingOut Call
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-docs-level: Public
    get:
      deprecated: true
      description: Returns status of a 2-leg RingOut call.
      operationId: readRingOutCallStatusDeprecated
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingOut call
        in: path
        name: ringoutId
        required: true
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRingOutStatusResponse'
          description: Success
      summary: Get RingOut Call Status
      tags:
      - RingOut
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact:
    get:
      description: Returns user personal contacts.
      operationId: listContacts
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: If specified, only contacts whose First name or Last name start
          with the mentioned substring are returned. Case-insensitive
        in: query
        name: startsWith
        schema:
          type: string
      - description: Sorts results by the specified property
        explode: true
        in: query
        name: sortBy
        schema:
          items:
            enum:
            - FirstName
            - LastName
            - Company
            type: string
          type: array
        style: form
      - description: Indicates the page number to retrieve. Only positive number values
          are accepted
        in: query
        name: page
        schema:
          default: 1
          type: integer
      - description: Indicates the page size (number of items)
        in: query
        name: perPage
        schema:
          default: 100
          type: integer
      - explode: true
        in: query
        name: phoneNumber
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
          description: Success
      summary: Get Contact List
      tags:
      - External Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-docs-level: Public
      x-availability: High
    post:
      description: Creates personal user contact.
      operationId: createContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: A country code value complying with the [ISO 3166-1 alpha-2](https://ru.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          format. The default value is home country of the current extension
        in: query
        name: dialingPlan
        schema:
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalContactRequest'
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalContactResource'
          description: New Contact
        400:
          content: {}
          description: 'Contact cannot be created: max contacts count reached ($limit)'
      summary: Create Contact
      tags:
      - External Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-docs-level: Public
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact/{contactId}:
    delete:
      description: Deletes contact(s) by ID(s). Batch request is supported.
      operationId: deleteContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a contact record in the RingCentral database
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      responses:
        default:
          content: {}
          description: Success
      summary: Delete Contact
      tags:
      - External Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-docs-level: Public
    get:
      description: Returns contact(s) by ID(s). Batch request is supported.
      operationId: readContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a contact record in the RingCentral database
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalContactResource'
          description: Contact
      summary: Get Contact
      tags:
      - External Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-docs-level: Public
      x-availability: High
    put:
      description: Updates personal contact information by contact ID(s). Batch request
        is supported
      operationId: updateContact
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a contact record in the RingCentral database
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      - description: A country code value complying with the [ISO 3166-1 alpha-2](https://ru.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          format. The default value is home country of the current extension
        in: query
        name: dialingPlan
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalContactRequest'
        required: false
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalContactResource'
          description: Success
      summary: Update Contact
      tags:
      - External Contacts
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-docs-level: Public
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book-sync:
    get:
      description: Synchronizes user contacts.
      operationId: syncAddressBook
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Type of synchronization
        explode: true
        in: query
        name: syncType
        schema:
          items:
            enum:
            - FSync
            - ISync
            type: string
          type: array
        style: form
      - description: Value of syncToken property of the last sync request response
        in: query
        name: syncToken
        schema:
          type: string
      - description: Number of records per page to be returned. The max number of
          records is 250, which is also the default. For 'FSync' if the number of
          records exceeds the parameter value (either specified or default), all of
          the pages can be retrieved in several requests. For 'ISync' if the number
          of records exceeds the page size, the number of incoming changes to this
          number is limited
        in: query
        name: perPage
        schema:
          type: integer
      - description: Internal identifier of a page. It can be obtained from the 'nextPageId'
          parameter passed in response body
        in: query
        name: pageId
        schema:
          type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressBookSync'
          description: Success
      summary: Address Book Synchronization
      tags:
      - External Contacts
      x-api-group: extension/address-book-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-docs-level: Public
      x-availability: High
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/favorite:
    get:
      description: Returns the list of favorite contacts of the current extension.
        Favorite contacts include both company contacts (extensions) and personal
        contacts (address book records).
      operationId: listFavoriteContacts
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      responses:
        default:
          content: {}
          description: successful operation
      summary: Get Favorite Contact List
      tags:
      - External Contacts
      x-api-group: extension/favorite
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-user-permission: ReadPersonalContacts
      x-app-permission: ReadContacts
      x-docs-level: Public
      x-availability: High
      x-notifications:
      - $ref: '#/definitions/ExtensionFavoritesEvent'
    put:
      description: 'Updates the list of favorite contacts of the current extension.
        Favorite contacts include both company contacts (extensions) and personal
        contacts (address book records).**Please note**: currently personal address
        book size is limited to 10 000 contacts.'
      operationId: updateFavoriteContactList
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteCollection'
        required: false
      responses:
        default:
          content: {}
          description: successful operation
      summary: Update Favorite Contact List
      tags:
      - External Contacts
      x-api-group: extension/favorite
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-docs-level: Public
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/directory/entries/search:
    post:
      description: Returns contact information on corporate users of federated accounts
        according to the specified filtering and ordering.
      operationId: searchDirectoryEntries
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchDirectoryEntriesRequest'
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryResource'
          description: Paged collection of all contacts information for a given account
            according to filtering and ordering. Records can be empty if no data found
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Current request cannot be processed due to error in its body
            and/or url
        500:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Some unexpected error during current request processing.
        503:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Network error during request
      summary: Search Company Directory Entries
      tags:
      - Internal Contacts
      x-api-group: account/directory/entries
      x-app-permission: ReadAccounts
      x-user-permission: ReadExtensions
      x-auth-required: true
      x-internal-api: false
      x-rewrite-uri-from: /restapi/v1.0/account/(.*)/directory/(.*)
      x-rewrite-uri-to: /account-directory/v1/account/$1/directory/$2
      x-service-interface: rest
      x-service-name: adg
      x-service-version: v1
      x-throttling-group: Heavy
      x-docs-level: Public
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/directory/entries/{entryId}:
    get:
      description: Returns contact information on a particular corporate user of a
        federated account.
      operationId: readDirectoryEntry
      parameters:
      - description: Internal identifier of extension to read information for
        in: path
        name: entryId
        required: true
        schema:
          type: string
      - description: Internal identifier of owning account
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResource'
          description: Contact information for given parameters. If value doesn't
            found then empty body will be returned
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Current request cannot be processed due to error in its body
            and/or url
        500:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Some unexpected error during current request processing
        503:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Network error during request. One should check connection between
            ADG processing node and ADX data node
      summary: Get Corporate Directory Entry
      tags:
      - Internal Contacts
      x-api-group: account/directory/entries
      x-app-permission: ReadAccounts
      x-auth-required: true
      x-internal-api: false
      x-rewrite-uri-from: /restapi/v1.0/account/(.*)/directory/(.*)
      x-rewrite-uri-to: /account-directory/v1/account/$1/directory/$2
      x-service-interface: rest
      x-service-name: adg
      x-service-version: v1
      x-throttling-group: Medium
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/directory/entries:
    get:
      description: 'Returns contact information on corporate users of federated accounts.
        Please note: 1. `User`, `DigitalUser`, `VirtualUser` and `FaxUser` types are
        returned as `User` type. 2. `ApplicationExtension` type is not returned. 3.
        Only extensions in `Enabled`, `Disabled` and `NotActivated` state are returned.'
      operationId: listDirectoryEntries
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: If 'True' then contacts of all accounts in federation are returned.
          If 'False' then only contacts of the current account are returned, and account
          section is eliminated in this case
        in: query
        name: showFederated
        schema:
          default: true
          type: boolean
      - description: Type of an extension
        in: query
        name: type
        schema:
          enum:
          - User
          - Department
          - Announcement
          - Voicemail
          - SharedLinesGroup
          - PagingOnly
          - IvrMenu
          - ParkLocation
          - Limited
          type: string
      - description: Page number
        in: query
        name: page
        schema:
          default: "1"
          type: string
      - description: 'Records count to be returned per one page. The default value
          is 1000. Specific keyword values: `all` - all records are returned in one
          page; `max` - maximum count of records that can be returned in one page'
        in: query
        name: perPage
        schema:
          default: 1000
          maximum: 2000
          type: integer
      - description: Internal identifier of the business site to which extensions
          belong
        in: query
        name: siteId
        schema:
          type: string
      - description: If-None-Match
        in: header
        name: If-None-Match
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryResource'
          description: Paged collection of all contacts information for a given account.
            Records can be empty if no data found.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Current request cannot be processed due to error in its body
            and/or url.
        500:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Some unexpected error during current request processing.
        503:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Network error during request
      summary: Get Company Directory Entries
      tags:
      - Internal Contacts
      x-api-group: account/directory/entries
      x-app-permission: ReadAccounts
      x-auth-required: true
      x-internal-api: false
      x-rewrite-uri-from: /restapi/v1.0/account/(.*)/directory/(.*)
      x-rewrite-uri-to: /account-directory/v1/account/$1/directory/$2
      x-service-interface: rest
      x-service-name: adg
      x-service-version: v1
      x-throttling-group: Medium
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/directory/federation:
    get:
      description: Returns information on a federation and associated accounts.
      operationId: readAccountFederation
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: RCExtensionId
        in: header
        name: RCExtensionId
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederationResource'
          description: List of found federations. Records array can be empty if no
            data found
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Current request cannot be processed due to error in its body
            and/or url
        500:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Some unexpected error during current request processing.
        503:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Network error during request
      summary: Get Account Federation
      tags:
      - Internal Contacts
      x-api-group: account/directory/federation
      x-app-permission: ReadAccounts
      x-auth-required: true
      x-internal-api: false
      x-rewrite-uri-from: /restapi/v1.0/account/(.*)/directory/(.*)
      x-rewrite-uri-to: /account-directory/v1/account/$1/directory/$2
      x-service-interface: rest
      x-service-name: adg
      x-service-version: v1
      x-throttling-group: Medium
      x-user-permission: ReadCompanyInfo
      x-docs-level: Public
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/presence:
    get:
      description: 'Returns presence status of an extension or several extensions
        by their ID(s). Batch request is supported. The ''presenceStatus'' is returned
        as Offline (the parameters ''telephonyStatus'', ''message'', ''userStatus''
        and ''dndStatus'' are not returned at all) for the following extension types:
        Department/Announcement Only/Take Messages Only (Voicemail)/Fax User/Paging
        Only Group/Shared Lines Group/IVR Menu/Application Extension/Park Location.If
        the user requests his/her own presence status, the response contains actual
        presence status even if the status publication is turned off. Batch request
        is supported. For batch requests the number of extensions in one request is
        limited to 30. If more extensions are included in the request, the error code
        400 Bad Request is returned with the logical error code InvalidMultipartRequest
        and the corresponding message ''Extension Presence Info multipart request
        is limited to 30 extensions''.'
      operationId: readUserPresenceStatus
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Whether to return detailed telephony state
        in: query
        name: detailedTelephonyState
        schema:
          type: boolean
      - description: Whether to return SIP data
        in: query
        name: sipData
        schema:
          type: boolean
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPresenceInfo'
          description: OK
      summary: Get User Presence Status
      tags:
      - Presence
      x-api-group: extension/presence
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadPresence
      x-user-permission: ReadPresenceStatus
      x-docs-level: Public
      x-notifications:
      - $ref: '#/definitions/ExtensionPresenceEvent'
      - $ref: '#/definitions/DetailedExtensionPresenceEvent'
      - $ref: '#/definitions/DetailedExtensionPresenceWithSIPEvent'
    put:
      description: 'Updates user-defined extension presence status, status message
        and DnD status by extension ID. Supported for regular User extensions only.
        The extension types listed do not support presence status: Department, Announcement
        Only, Take Messages Only (Voicemail), Fax User, Paging Only Group, Shared
        Lines Group, IVR Menu, Application Extension.'
      operationId: updateUserPresenceStatus
      parameters:
      - description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        in: path
        name: extensionId
        required: true
        schema:
          default: ~
          type: string
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PresenceInfoResource'
        required: false
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceInfoResource'
          description: OK
      summary: Update User Presence Status
      tags:
      - Presence
      x-api-group: extension/presence
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditPresence
      x-docs-level: Public
      x-notifications:
      - $ref: '#/definitions/IncomingCallEvent'
      - $ref: '#/definitions/MissedCallEvent'
      x-codegen-request-body-name: body
  /restapi/v1.0/account/{accountId}/presence:
    get:
      description: 'Returns presence status of all extensions of an account. Please
        note: The presenceStatus is returned as Offline (the parameters telephonyStatus,
        message, userStatus and dndStatus are not returned at all) for the following
        extension types: Department, Announcement Only, Voicemail (Take Messages Only),
        Fax User, Paging Only Group, Shared Lines Group, IVR Menu, Application Extension.'
      operationId: readAccountPresence
      parameters:
      - description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        in: path
        name: accountId
        required: true
        schema:
          default: ~
          type: string
      - description: Whether to return detailed telephony state
        in: query
        name: detailedTelephonyState
        schema:
          type: boolean
      - description: Whether to return SIP data
        in: query
        name: sipData
        schema:
          type: boolean
      - description: Page number for account presence information
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number for account presence information items per page
        in: query
        name: perPage
        schema:
          format: int32
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPresenceInfo'
          description: OK
      summary: Get User Presence Status List
      tags:
      - Presence
      x-api-group: account/presence
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadPresence
      x-user-permission: ReadPresenceStatus
      x-docs-level: Public
      x-notifications:
      - $ref: '#/definitions/AccountPresenceEvent'
  /restapi/v1.0/glip/chats:
    get:
      description: Returns the list of chats where the user is a member and also public
        teams that can be joined. All records in response are sorted by creation time
        of a chat in ascending order.
      operationId: listGlipChats
      parameters:
      - description: Type of chats to be fetched. By default all type of chats will
          be fetched
        explode: true
        in: query
        name: type
        schema:
          items:
            enum:
            - Everyone
            - Group
            - Personal
            - Direct
            - Team
            type: string
          type: array
        style: form
      - description: Number of chats to be fetched by one request. The maximum value
          is 250, by default - 30.
        in: query
        name: recordCount
        schema:
          default: 30
          maximum: 250
          type: integer
      - description: Pagination token.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlipChatsList'
          description: OK
      summary: Get Chats
      tags:
      - Chats
      x-api-group: glip/chats
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Glip
      x-user-permission: Glip
      x-docs-level: Public
      x-rewrite-uri-from: /restapi/v1.0/glip/chats
      x-rewrite-uri-to: /glip/v1/chats
      x-throttling-group: Medium
      x-beta-api: true
  /restapi/v1.0/glip/chats/{chatId}:
    get:
      description: Returns information about a chat by ID.
      operationId: readGlipChat
      parameters:
      - description: Internal identifier of a chat. If tilda (~) is specified, then
          `/me` (Personal) chat will be returned
        in: path
        name: chatId
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlipChatInfo'
          description: OK
        404:
          content: {}
          description: Chat Not Found.
      summary: Get Chat
      tags:
      - Chats
      x-api-group: glip/chats
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Glip
      x-user-permission: Glip
      x-rewrite-uri-from: /restapi/v1.0/glip/chats/(.*)
      x-rewrite-uri-to: /glip/v1/chats/$1
      x-docs-level: Public
      x-beta-api: true
  /restapi/v1.0/glip/conversations:
    get:
      description: Returns the list of conversations where the user is a member. All
        records in response are sorted by creation time of a chat in ascending order.
      operationId: listGlipConversations
      parameters:
      - description: Number of conversations to be fetched by one request. The maximum
          value is 250, by default - 30
        in: query
        name: recordCount
        schema:
          default: 30
          maximum: 250
          type: integer
      - description: Pagination token.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlipConversationsList'
          description: OK
      summary: Get Conversations
      tags:
      - Conversations
      x-api-group: glip/conversations
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Glip
      x-user-permission: Glip
      x-docs-level: Public
      x-rewrite-uri-from: /restapi/v1.0/glip/conversations
      x-rewrite-uri-to: /glip/v1/conversations
      x-throttling-group: Medium
      x-beta-api: true
    post:
      description: Creates a new conversation or opens an existing one.
      operationId: createGlipConversation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGlipConversationRequest'
        description: JSON body
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlipConversationInfo'
          description: Conversation is opened
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlipConversationInfo'
          description: Conversation is created
        400:
          content: {}
          description: Some of parameters are missing or have invalid format.
      summary: Create/Open Conversation
      tags:
[...]
